.aside .buttons button {
    margin: 10px 10px;
    width: auto;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: purple;
    color: #fff;
    font-size: 16px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.aside .buttons button:hover {
    background-color: rgb(78, 15, 78);

}